body {
	background-color: #9e9e9e(192, 192, 176, 0.932);
	background-image: url('../../img/logo2\ \(1\).png');
	background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	background-size: 28%; /* Centra la imagen horizontal y verticalmente */
	/* Otros estilos CSS para el contenedor, como color de texto, márgenes, etc. */
	background-position: 0% 50%;
	/* Agrega una transición suave para la propiedad background-position */
	transition: background-position 5s ease;
}